form {
  width: 100%;
  height: max-content;
  margin: 1.5rem auto 1rem auto;
  padding: 0rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input[type="submit"] {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #000;
}

form input[type="submit"]:hover {
  background-color: #393e46;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
}

/* ---------------- MEDIA QURIES ---------------- */

@media screen and (max-width: 768px){

  .logout_container h3 {
    font-size: 1rem;
  }

  .logout_container form {
    width: 100%;
  }

  .login_container form input[type="submit"] {
    font-size: 0.75rem;
    padding: 0.25rem 1rem;
    border-radius: 0.5rem;
  }
}